.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .theme-toggle-container {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;

    @media (max-width: 600px) {
      top: 1.25rem;
      right: 1.25rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--mat-sys-surface-container-high);
      color: var(--mat-sys-on-surface);
    }
  }
}
